* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;

    }

    100% {
        background-position: 0% 50%;
    }
}

body {
    width: 100%;
    background-color: #141124;
}

#paragraphs {
    display: flex;
    flex-direction: row;
    color: white;
    flex-wrap: wrap;
    justify-content: space-around;
}

.paragraph {
    width: 25%;
    display: flex;
    flex-direction: row;
}

.text {
    margin-left: 10px;
}


.login {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    align-items: center;
}

input {
    margin-top: 2%;
    width: 25%;
    background-color: rgb(255, 136, 0);
    padding: 15px 35px;
    color: white;
    border: none;
    font-family: 'Open Sans';
    transition: transform 700ms ease-in-out, box-shadow 700ms ease-in-out, background-color 700ms ease-in-out;
}

input:hover {
    background-color: black;
    box-shadow: 0px 0px 10px #ffffff;
    transform: scale(1.1);
}

.login h2 {
    color: white;
}