#formulaire {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
    flex-direction: row;
    margin: 50px 0px;
}

#formulaire form {
    display: flex;
    flex-direction: column;
}

#formulaire * {
    margin: 10px 0;
}

.champs {
    width: 300px;
    height: 30px;
    font-size: 20px;
    background-color: rgb(68, 46, 68);
    border: gray 2px solid;
    color: white;
    font-family: "Open Sans";

}

#formulaire input[type="submit"] {
    width: 300px;
    height: 30px;
    background-color: rgb(101, 75, 68);
    color: white;
    font-family: "Open Sans";
    font-size: 20px;
}

#formulaire input[type="submit"]:hover {
    background-color: rgb(104, 85, 80);
}

#formulaire label {
    font-family: "Open Sans";
}

#formulaire p {
    margin: 0% auto;
    font-family: "Open Sans";
    font-size: 20px;
}

#myaccountheader {
    height: 50vh;
    background-image: url("../../images/andreasbg.png");
    box-shadow: none;
}

#game-controller {
    width: 200px;
    margin: auto 0;
}