 * {
   margin: 0;
   padding: 0;
 }

 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');

 @keyframes gradient {
   0% {
     background-position: 0% 50%;
   }

   50% {
     background-position: 100% 50%;

   }

   100% {
     background-position: 0% 50%;
   }
 }

 body {
   width: 100%;
   background-color: #141124;
 }

 #paragraphs {
   display: flex;
   flex-direction: row;
   color: white;
   flex-wrap: wrap;
   justify-content: space-around;
 }

 .paragraph {
   width: 25%;
   display: flex;
   flex-direction: row;
 }

 .text {
   margin-left: 10px;

 }

 div {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin-bottom: 5%;
 }

 h2 {
   margin-top: 3%;
 }

 table {
   table-layout: fixed;
   height: 80%;
   width: 80%;
   margin:10%;
 }

 td {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('/Users/admin/Documents/puissance/puissance-4/assets/img/b9ec007e692543088cf247389a8ac8c5.png');
 }

 img {
  width:100%;
  height:100%;
 }