footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #0D0A26;
    height: 300px;
    margin-top: 50px;
  }
 
  .footer-title {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Open Sans';
  }
 
  .coord-name {
    color: orange;
    margin-right: 5px;
  }
 
  .coord {
    display: flex;
    flex-direction: row;
  }
 
  .informations {
    display: flex;
    flex-direction: column;
  }
 
  .informations p {
    margin: 10px 0px
  }
 
 
  #copyright {
    margin-top: auto;
  }
 
  .media-links {
    margin-top: 10px;
  }
 
  .media-link {
    padding: 10px;
    background-color: rgb(229, 123, 18);
  }
 
  .footer-nav li::before {
    content: "\2022";
    color: rgb(229, 123, 18);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
 
  .footer-nav {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
 
  .footer-nav li {
    margin: 10px 0px;
  }