* {
    margin: 0;
    padding: 0;
    outline: 0;
    scroll-behavior: smooth;
    transition: 0.5s ease-in;
}

body {
    height: 100vh;
    width: 100%;
    background-color: #0D0A26;
}

.top-info {
    height: 40%;
    width: 100%;
}

.top-img {
    display: flex;
    background-position: top;
    background-attachment: local;
    background-repeat: repeat-x;
    background-image: url("../../images/andreasbg.png");
    background-blend-mode: lighten;
    background-color: black;
    height: 100%;
    width: 100%;
    align-items: center;
}

.profile-img {
    background-size: 100%;
    background-image: url("../../images/ayaya.webp");
    height: 60%;
    width: 12%;
    border-radius: 5px 5px 0 0;
    border-radius: 50%;
    margin-left: 1%;
    margin-top: 5%;
    object-fit: cover;
}

.stats {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 65%;
    width: 100%;
}

.card {
    display: flex;
    height: 85%;
    width: 50%;
    box-shadow: 0 4px 8px 0 black;
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 cyan;
}

.container {
    padding: 2px 16px;
}

h3 {
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin-left: 2%;
}

#table {
    font-family: 'Open Sans', sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

#table td,
#table th {
    border: 1px solid #3621818c;
    padding: 8px;
    background-color: #3621818c;

}

#table tr:nth-child(even) {
    background-color: black;
}

#table tr:hover {
    background-color: blueviolet;
}

table {
    display: flex;
    align-items: center;
    justify-content: center;
}

#paragraphs {
    display: flex;
    flex-direction: row;
    color: white;
    flex-wrap: wrap;
    justify-content: space-around;
}

.paragraph {
    width: 25%;
    display: flex;
    flex-direction: row;
}

.text {
    margin-left: 10px;
}

.para-title {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

#table th,
td {
    color: white
}