#chat {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 400px;
    background-color: rgb(255, 255, 255);
    height: 500px;
    transform: translateY(460px);
    transition: transform 500ms ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#chat:hover {
    transform: translateY(0px);
}

.hchat {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(21, 129, 165);
    min-height: 40px;
    height: 40px;
}

#robot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 10px;
}

.chat-body {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    justify-content: flex-start;
    margin-bottom: auto;
    /* permet d'avoir toujours
     les message au début du chat body */
}

.user-msg,
.sav-msg {
    display: flex;
    flex-direction: column;
    margin: 10px;
    max-width: 80%;
}

.user-msg {
    margin-left: auto;
}

.msg {        
    border-radius: 20px;
    background-color: rgb(0, 72, 255);
    width: fit-content;
    padding: 10px;
}

.sav {
    background-color: rgb(19, 64, 140);
}

.date-msg {
    color: grey;
}

.user-name,
.sav-name {
    color: grey;
}

#me {
    margin-left: 80px;      /* moi du hello soit correctement placé*/
}

#hello {
    margin-left: auto;
}

.chat-footer {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    border-top: 2px black solid;
    padding-top: 10px;
}

.chat-footer input[type="text"] {
    padding: 5px;
    border: black 1px solid;
    font-family: 'Open Sans';
}

.chat-footer input[type="submit"] {
    padding: 5px;
    border: none;
    font-family: 'Open Sans';
}
